@use "globals.scss" as globals;

.container {
  @include globals.container(1000px, 450px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 30px;
  text-align: center;
}
